{% extends "main.html" %}
    {%block div %}
<div class="container">
    <form class="form-inline" id="hform" method="post">
        选择要查询的日期 &nbsp;&nbsp;&nbsp;&nbsp;
        {{form.year(class="form-control")}}{{form.year.label}}
&nbsp;&nbsp;
        第{{form.week(class="form-control")}}{{form.week.label}}
        &nbsp;&nbsp;&nbsp;&nbsp;
        {{form.submit(class="btn btn-default")}}
        &nbsp;&nbsp;
    （当前为第{{nweek}}周）
        </form>
</div>
    {%endblock div%}
{%block h3 %}
<h3>第{{hweek}}周总结</h3>
{%endblock h3%}