{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert">x</button>
{{ message }}
</div>
{% endfor %}
    {%-block div %}
<div class="pull-right">
	<a href="/table" class="btn btn-default">提交周报</a>
	</div>
    {%-endblock div%}
</div>
</div>
<div>
	<table class="table table-bordered">
	<thead><th class="text-center" colspan="7">
        {%-block h3 %}
        <h3>本周总结</h3>
        {%-endblock h3%}
    </th></thead>
	<tr>
	<th>所属项目</th>
	<th>当日工作量（/H）</th>
	<th>周完成情况</th>
	<th>工作内容</th>
	<th>时间记录</th>
	</tr>
	<tbody>
		{%for i in data%}
		<tr>
		<td>{{i.project_id|safe}}</td>
		<td>{{i.worktime}}</td>
		<td>{{i.completed}}</td>
		<td width="50%">
			{{i.something|safe}}</td>
		<td>{{{0:'星期一',1:'星期二',2:'星期三',3:'星期四',4:'星期五',5:'星期六',6:'星期日'}[i.week]}}</td>
		</tr>
		{%endfor%}
	</tbody>
	</table>
</div>
{% endblock %}