{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">x</button>
        {{ message }}
        </div>
        {% endfor %}
</div>
<div>
        <table class="table table-bordered">
            <thead><th class="text-center" colspan="5"><h3>上月统计结果</h3><h5>（{{fweek}}周到{{lweek}}周，当前为{{nweek}}周）</h5></th></thead>
	</table>
</div>
<div class="row">
<div class="col-xs-6">
        <table class="table table-bordered">
        <thead><th class="text-center" colspan="3">月统计未完成</th></thead>
        <tr><th>姓名</th>
	<th>项目组</th>
	<th>月未写天数</th>
	</tr>
        <tbody>
	{%for i in zhoubao%}
	<tr>
	<td>{{i[1]}}</td>
	<td>{{i[0]}}</td>
	<td>{{i[2]}}</td>
	</tr>
	{%endfor%}
	</tbody>
        </table>
</div>
<div class="col-xs-6">
        <table class="table table-bordered">
        <thead><th class="text-center" colspan="3">工作量不足</th></thead>
	<tr>
        <th>姓名</th>
	<th>项目组</th>
        <th>所缺工作量</th></tr>
        <tbody>
        {%for i in wtime%}
        <tr>
        <td>{{i[1]}}</td>
        <td>{{i[0]}}</td>
	    <td>{{i[2]}}</td>
        </tr>
        {%endfor%}
	</tbody>
        </table>
</div>
</div>
<div class="container-fluid">
<h4>已完成人员:</h4>
    {%for a in wancheng%}
    {{a}}
    {%endfor%}
</div>
{% endblock %}
