{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert">x</button>
{{ message }}
</div>
{% endfor %}
<div class="container">
<div class="col-md-6">
	<table class="table table-bordered">
	<tbody>
		{%for i in usersitem%}
		<tr>
		<td>
			{%if session.get('role') == 'renli'%}
			<a href="/zhoubaos/groups-rl/{{i.name}}">{{i.name}}</a>
			{%else%}
			<a href="/zhoubaos/groups/{{i.name}}">{{i.name}}</a>
			{%endif%}
		</td>
		</tr>
		{%endfor%}
	</tbody>
	</table>
</div>
</div>
<div class="container">
        {% if pagination %}
        <div class="pagination">
        {{ macros.pagination_widget(pagination, 'zhoubaos.zbusers') }}</div>
	{% endif %}
</div>
{% endblock %}
